@{
    ViewData["Title"] = "Events";
}
<!-- TO DO: DONE -->
<div class="container pt-3 pb-3">
    <div>
        <h1 class="pb-3" style="font-family: Impact; font-size: 40pt; padding-left: 40px;top:0;">EVENTS</h1>
        <p>Most recent events by Seres Produções</p>
    </div>
    <hr class="bg-warning" />
    <!-- Event -->
    <div class="row event">
        <div class="col"><img src="~/images/events/e1.jpg" style="width:100%" /></div>
        <div class="col"><h2>DJ Satelite + Danykas DJ</h2></div>
        <div class="col"><p>Thursday, February 27, 2020 at 11:59 PM – 6 AM UTC</p></div>
        <div class="col">
            <p>Hosted by Seres Produções, MUSICBOX LISBOA, DJ Satelite, DANYKAS DJ</p>
        </div>
        <div class="col">
            <a href="#!"
               class="text-left">Tickets link unavailable</a>
        </div>
    </div>
    <hr class="bg-warning" />
    <!-- Event -->
    <div class="row event">
        <div class="col"><img src="~/images/events/e2.jpg" style="width:100%" /></div>
        <div class="col"><h2>Batida b2b Satelite</h2></div>
        <div class="col"><p>Thursday, January 16, 2020 at 11:45 PM – 6 AM UTC</p></div>
        <div class="col">
            <p>Hosted by Lux Frágil and Batida</p>
        </div>
        <div class="col">
            <a href="#!"
               class="text-left">Tickets link unavailable</a>
        </div>
    </div>
    <hr class="bg-warning" />
    <!-- Event -->
    <div class="row event">
        <div class="col"><img src="~/images/events/e3.jpg" style="width:100%" /></div>
        <div class="col"><h2>Rádio Quântica: Lsdxoxo x Danykas x Prec x Poly Garbo x Pachinko</h2></div>
        <div class="col"><p>Thursday, January 9, 2020 at 11:45 PM – 6 AM UTC</p></div>
        <div class="col">
            <p>Hosted by Lux Frágil and Rádio Quântica</p>
        </div>
        <div class="col">
            <a href="#!"
               class="text-left">Tickets link unavailable</a>
        </div>
    </div>
    <hr class="bg-warning" />
    <!-- Event -->
    <div class="row event">
        <div class="col"><img src="~/images/events/e4.jpg" style="width:100%" /></div>
        <div class="col"><h2>Room System #8</h2></div>
        <div class="col"><p>Saturday, December 14, 2019 at 11:55 PM – 6 AM UTC</p></div>
        <div class="col">
            <p>Hosted by Room System, Village Underground Lisboa</p>
        </div>
        <div class="col">
            <a href="https://www.residentadvisor.net/events/1348378?fbclid=IwAR2VzS6jFFBotx6I3p1KO2MnzrpkWcocCjgakDZpr1oHT7zR4sfpKGorONU"
               class="text-left">Get Tickets</a>
        </div>
    </div>
    <hr class="bg-warning" />
</div>