@{
    ViewData["Title"] = "Thank you";
}
<div class="container pt-3 pb-3 text-center">
    <img src="~/images/success.png" alt="success" />
    <h1>We received your message!</h1>
    <p>Thank you, we'll get in touch with you.</p>
</div>
