@{
    ViewData["Title"] = "Thank you";
}
<div class="container pt-3 pb-3 text-center">
    <img src="~/images/error.png" alt="error" />
    <h1>Error!</h1>
    <p>We couldn't receive your message, please consider sending again later.</p>
</div>
