@{
    ViewData["Title"] = "Home Page";
}
<div class="Home-Top-Content">
    <!-- Carousel -->
    <div id="CarouselTarget" class="carousel slide carousel-fade" data-ride="carousel">
        @*<ol class="carousel-indicators">
                <li data-target="#CarouselTarget" data-slide-to="0" class="active"></li>
                <li data-target="#CarouselTarget" data-slide-to="1"></li>
                <li data-target="#CarouselTarget" data-slide-to="2"></li>
            </ol>*@
        <!-- Items -->
        <div class="carousel-inner text-center">
            <!-- Item -->
            <div class="carousel-item active" data-interval="3000">
                <a asp-controller="Events" asp-action="Events"><img src="~/images/events/e1.jpg" style="width: 100%; height:100%;" alt="Event"></a>
            </div>
            <!--Item-->
            <div class="carousel-item" data-interval="3000">
                <a asp-controller="Events" asp-action="Events"><img src="~/images/events/e2.jpg" style="width: 100%; height:100%;" alt="Event"></a>
            </div>
            <!--Item-->
            <div class="carousel-item" data-interval="3000">
                <a asp-controller="Events" asp-action="Events"><img src="~/images/events/e4.jpg" style="width: 100%; height:100%;" alt="Event"></a>
            </div>
        </div>
        <!-- Items -->
        <!-- Controls -->
        @*<a class="carousel-control-prev" href="#CarouselTarget" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#CarouselTarget" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>*@
        <!-- Controls -->
    </div>
    <!-- Carousel -->
</div>

<!-- News Section -->
<div class="Home-News" style="background-color: #141414;">
    <h1 class="pt-5 pb-5" style="font-family: Impact; font-size: 40pt; padding-left: 40px;top:0;">NEWS</h1>
    <div class="container">
        <div class="pb-5 WrapToBottom" id="TopNews">
            <h1 class="text-center" style="font-family: Impact;">
                <a href="#">Curitiba on Afro House map with the Brazilian duo Drunky Daniels</a>
            </h1>
            <p class="text-center">
                Drunky Daniels estão de Volta depois do Album ‘’Zabumba’’
                lancado no ano passado com destaque na Mixmag,
                Bantumen e muito outros magazines.
                A Seres Producões apresenta o seu mais recente
                Single dos Drunky Daniels, com origens bem
                brasileiras viajando por drums africanos...
            </p>
        </div>
        <!--News Grid-->
        <div class="row">
            <!--Article-->
            <div class="col text-center" style="margin: 20px;">
                <img class="pt-4" src="~/images/articles/n01.jpeg" width="200" height="200" alt="Article">
                <h3><a href="#">Music can unite and spread more</a></h3>
                <p>
                    Date: 29 Feb 2020
                </p>
                <div class="content text-justify">
                    <p>
                        Alexandros Djkevingr & Greg Ignatovich (Parquet Recordings,
                        Diynamic) from Greek came up with the idea for a big
                        collaboration that unites different countries and
                        music styles from all over the world...
                    </p>
                </div>
            </div>
            <!--Article-->
            <div class="col text-center" style="margin: 20px;">
                <img class="pt-4" src="~/images/articles/n02.jpeg" width="200" height="200" alt="Article">
                <h3><a href="#">Curitiba on Afro House map with the Brazilian duo Drunky Daniels</a></h3>
                <p>
                    Date: 19 Feb 2020
                </p>
                <div class="content text-justify">
                    <p>
                        Drunky Daniels estão de Volta depois do Album ‘’Zabumba’’
                        lancado no ano passado com destaque na Mixmag,
                        Bantumen e muito outros magazines.
                        A Seres Producões apresenta o seu mais recente
                        Single dos Drunky Daniels, com origens bem
                        brasileiras viajando por drums africanos...
                    </p>
                </div>
            </div>
            <!--Article-->
            <div class="col text-center" style="margin: 20px;">
                <img class="pt-4" src="~/images/articles/n03.jpeg" width="200" height="200" alt="Article">
                <h3><a href="#">Duo Two Strong starting the year in Force.</a></h3>
                <p>
                    Date: 15 Feb 2020
                </p>
                <div class="content text-justify">
                    <p>
                        There’s something in the Two Strong duo,
                        that’s making their music growing each day at the
                        Angolan music scene and places around the world...
                    </p>
                </div>
            </div>
        </div>
        <a class="btn btn-light mt-5 mb-4" asp-controller="News" asp-action="News">MORE NEWS</a>
    </div>
</div>
<!-- Music Section -->
<div class="Home-News" style="background-color: #141414;">
    <h1 class="pt-5 pb-5" style="font-family: Impact; font-size: 40pt; padding-left: 40px;top:0;">OUR MUSIC</h1>
    <div class="container">
        <p class="text-center">
            Get the most recent releases by Seres Produções artists.
            Great tunes, soothing music that rocks your spirit and
            lead you into another realm, taking you by storm!
        </p>
        <!--Music Grid-->
        <div class="row">
            <!--Track-->
            <div class="col text-center">
                <img class="pt-4" src="~/images/releases/9_KedumaRemixes.jpg" width="200" height="200" alt="Release">
                <h3 style="font-family: Impact;">KEMUDA REMIXES</h3>
                <p>
                    SATELITE
                </p>
                <span>
                    <a href="https://www.traxsource.com/title/1330792/kemuda-remixes">Grab a copy</a>
                </span>
            </div>
            <!--Track-->
            <div class="col text-center">
                <img class="pt-4" src="~/images/releases/2_Zona.jpg" width="200" height="200" alt="Release">
                <h3 style="font-family: Impact;">ZONA VERMELHA</h3>
                <p>
                    SATELITE & K.O.D
                </p>
                <span>
                    <a href="https://www.traxsource.com/title/1288476/zona-vermelha">Grab a copy</a>
                </span>
            </div>
            <!--Track-->
            <div class="col text-center">
                <img class="pt-4" src="~/images/releases/10_MamboEP.jpg" width="200" height="200" alt="Release">
                <h3 style="font-family: Impact;">MAMBO EP</h3>
                <p>
                    EuphoriQsoul
                </p>
                <span>
                    <a href="https://www.traxsource.com/title/1297704/mambo-ep">Grab a copy</a>
                </span>
            </div>
            <!--Track-->
            <div class="col text-center">
                <img class="pt-4" src="~/images/releases/11_KANDONGUEIRO2000.jpg" width="200" height="200" alt="Release">
                <h3 style="font-family: Impact;">KANDONGUEIRO 2000</h3>
                <p>
                    SATELITE
                </p>
                <span>
                    <a href="https://www.traxsource.com/title/1311959/kandongueiro-2000">Grab a copy</a>
                </span>
            </div>
        </div>
        <a class="btn btn-light mt-5 mb-5" asp-controller="Releases" asp-action="Releases">MORE MUSIC</a>
    </div>
</div>
<!-- Radio Section -->
<div id="HomeRadio" class="pl-5">
    <h1 class="pt-5 display-4">SERES PRODUÇÕES</h1>
    <h1 class="pb-5" style="font-family: Impact; font-size: 60pt;">RADIO</h1>
    <div>
        <p style="font-size: 20px; max-width: 400px;">
            Tune into SERES PRODUÇÕES Radio and get to listen to awesome mixes played back to back on a weekly basis
            featuring various artists with great tunes and new music, bringing you only the latest SERES PRODUÇÕES music
            in this radio show. Enjoy!
        </p>

        <a class="btn btn-light mt-5 mb-5" asp-controller="Radio" asp-action="Radio">TUNE IN</a>
    </div>
</div>