@{
    ViewData["Title"] = "Home Page";
}
<!-- TO DO: DONE -->
<!-- <div class="section"> -->
<!--     <h1 class="display-4"> -->
<!--         <a asp-controller="About" asp-action="About" class="text-white"> -->
<!--             WELCOME TO SERES PRODUÇÕES -->
<!--         </a> -->
<!--     </h1> -->
<!--     <div class="video-container"> -->
<!--         @*<div class="color-overlay"></div>*@ -->
<!--         <video autoplay loop muted> -->
<!--             <source src="~/videos/GreenLight.mp4" type="video/mp4" /> -->
<!--         </video> -->
<!--     </div> -->
<!-- </div> -->

<div class="Top-Content">
    <img src="~/images/articles/n02.jpeg" style="width:100%;"/>
    <p>WELCOME TO SERES PRODUCOES</p>
</div>