@{
    ViewData["Title"] = "Radio";
}
<!-- TO DO: DONE -->
    <div class="container pb-3">
        <div class="text-center">
            <p class="text-primary" style="font-size:40pt">SERES PRODUÇÕES <span class="font-weight-bold">RADIO</span></p>
            @*<img src="~/images/Radio.jpg" style="width:200px" alt="Radio section" />*@
            <p style="font-size: 18pt">
                Welcome to Seres Produções Radio shows, where you'll find peace of mind from our soothing tunes.
            </p>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/11372616&color=%23004fc7&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
            </div>
            <div class="col-sm-12 col-md-6">
                <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2Fquanticaonline%2Fdanykas-dj-joy-time-w-guest-mix-by-satelite-4-1932020%2F" frameborder="0"></iframe>
                <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fquanticaonline%2Fseres-produ%C3%A7%C3%B5es-live-danykas-dj-w-guest-mix-by-satelite-3-2022020%2F" frameborder="0"></iframe>
                <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2Feastsideradiolx%2Fdj-satelite-2-mar-2020%2F" frameborder="0"></iframe>
                <p>
                    Listen to awesome mixes played back to back on a weekly basis
                    featuring various artists with great tunes and new music, bringing you only the latest SERES PRODUÇÕES music
                    in this radio show. Enjoy!
                </p>
            </div>
        </div>
    </div>