
@{
    ViewData["Title"] = "Lables";
}

<div class="pl-5" style="background-color: #141414;">
    <h1 class="pt-5 display-4">SERES PRODUÇÕES</h1>
    <h1 class="pb-5" style="font-family: Impact; font-size: 40pt;">SUB LABELS</h1>
    <div class="container">
        <div class="row pb-5">
            <div class="col artist">
                <a href="https://www.beatport.com/label/srpds/66532">
                    <img class="img-fluid" src="~/images/labels/SRPDS.jpg" style="width: 75%" alt="SRPDS MUSIC">
                </a>
            </div>
            <div class="col artist">
                <a href="https://www.beatport.com/label/dadsa-music/58588">
                    <img class="img-fluid" src="~/images/labels/DADSA_MUSIC.jpg" style="width: 75%" alt="DADSA MUSIC">
                </a>
            </div>
        </div>
    </div>
</div>