@{
    ViewData["Title"] = "About";
}
<!-- TO DO: DONE -->
<div style="background-image: url('../images/clubConcert_.jpg');">
    <div class="container pb-3 text-center">
        <h1 class="display-4 text-primary">About Us</h1>
        <p>
            Seres Produções is a label based in Luanda, Angola. It started in year 2000 by DJ Satelite and it was initially focused in producing Kuduro genre where Seres Produções
            became one of the leaders after co-producing the first best seller album in Angola called "Estado Maior do Kuduro - by Lambas", and another successful album
            called "Batida Única - by Bruno M".
        </p>
        <br />
        <p>
            Based in Luanda, Angola, but working worldwide, Seres Produções decided around 2013 to work in a new path and explore new sounds, and was in that year that
            Afro house was introduced to the label. Since then, Afro house has been the main mark in the production company where the main goal is to bring new artists
            not only from Angola but from any part of the world as well.
        </p>
        <br />
        <p>
            Seres Produções has been extremely blessed over the years for counted with massive talented artists who have released top notch works like DJ Satelite,
            Boddhi Satva, DJEFF, Oscar P, FNX OMAR, Christos Fourkis, Jackie Queens, K.O.D and so many others.
        </p>
        <img src="~/images/About.jpg" style="width: 500px" alt="About section" />
        <p>
            Thanks to all the hard work, dedication and motivation in this new project that was embraced, today this label become one of the Afro House leaders
            worldwide and the main one in Angola.
        </p>
    </div>
</div>
